.container-new {
  background-color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  margin: 4rem 20rem;
  padding: 2rem;
  padding-bottom: 3rem;
}

.col-md-8 h1 {
  font-size: 30px;
  font-weight: 700;
  color: #0d0d0d;
  margin-bottom: 2rem;
  font-family: 'Open Sans', sans-serif;
  padding-top: 2rem;
}
