.container-show {
  background-color: #f5f5f5;
  font-family: 'Open Sans', sans-serif;
  margin: 4rem 7rem;
}

.grid-show {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 1fr;
  padding-top: 2rem;
}

.grid-item-show {
  background-color: #fff;
  border-radius: .4rem;
  overflow: hidden;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: 0.2s;
}

.card-show {
  position: relative;
  height: 40rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 1.5rem;
}

.card-img-show {
  width: 25%;
  height: 12rem;
  position: absolute;
  top: 5.5rem;
  right: 8rem;
}

.card-content-show {
  padding: 2rem 2rem;
}

.card-head-show {
  font-size: 30px;
  font-weight: 700;
  color: #0d0d0d;
  margin-bottom: 1.5rem;
  font-family: 'Open Sans', sans-serif;
}

.card-text-show {
  font-size: 12px;
  color: #3d3d3d;
  margin-bottom: 3rem;
  text-align: justify;
  line-height: 22px;
}

.badge-show {
  display: grid;
  grid-gap: 0.8rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.badge-1 {
  border: 1px solid #F26279;
  color: #F26279;
  padding: 8px;
}

.badge-2 {
  border: 1px solid #52CCCE;
  color: #52CCCE;
  padding: 8px;
}

.badge-3 {
  border: 1px solid #92CE2F;
  color: #92CE2F;
  padding: 8px;
}

.badge-1:hover, .badge-2:hover, .badge-3:hover {
  opacity: 0.6;
}

.review h3 {
  font-family: 'Open Sans', sans-serif;
}

.review p {
  font-size: 10px;
}

// .card-btn-show {
//   border: 1px solid #92CE2F;
//   color: #92CE2F;
//   background-color: white;
//   border-radius: 3px;
//   width: 50%;
//   padding: 5px 5px;
// }

// .card-btn-show:hover {
//   background-color: #92CE2F;
//   color: white;
// }


