<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(https://res.cloudinary.com/nicolasenne/image/upload/v1606160617/find-your-plants/background-image_no3ofn.jpg);">
  <img class="logo-white" alt="Find Your Plants logo" src="https://res.cloudinary.com/nicolasenne/image/upload/v1606159635/find-your-plants/logo-white_cfqp0r.svg">
  <h1>More plants, less problems.</h1>
  <%= link_to "Start now!", plants_index_path, class: 'btn btn-ghost' %>
</div>

<h2 class>Have a look at our fine selection of plants 🌱</h2>

<div class="container">

  <div class="grid">
    <div class="grid-item">
      <div class="card"><img class="card-img" src="https://res.cloudinary.com/nicolasenne/image/upload/v1606176917/find-your-plants/plant-1_t4zlk1.png">
        <div class="card-content">
          <h1 class="card-head">Pea Shooter</h1>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus quis venenatis est sed.</p>
          <button class="card-btn">Explore</button>
        </div>
      </div>
    </div>

    <div class="grid-item">
      <div class="card"><img class="card-img" src="https://res.cloudinary.com/nicolasenne/image/upload/v1606176917/find-your-plants/plant-2_zku4ke.png">
        <div class="card-content">
          <h1 class="card-head">Sunflower</h1>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus quis venenatis est sed.</p>
          <button class="card-btn">Explore</button>
        </div>
      </div>
    </div>

    <div class="grid-item">
      <div class="card"><img class="card-img" src="https://res.cloudinary.com/nicolasenne/image/upload/v1606176917/find-your-plants/plant-3_sxl4gu.png">
        <div class="card-content">
          <h1 class="card-head">Cherry Bomb</h1>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus quis venenatis est sed.</p>
          <button class="card-btn">Explore</button>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> at Find Your Plants
  </div>
</div>


