<h2 class>Have a look at our fine selection of plants 🌱</h2>

<div class="container">

  <div class="grid">
  <% @plants.each do |plant| %>
    <div class="grid-item">
      <div class="card"><img class="card-img" src="https://res.cloudinary.com/nicolasenne/image/upload/v1606176917/find-your-plants/plant-1_t4zlk1.png">
        <div class="card-content">
          <h1 class="card-head"> <%= plant.name %></h1>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus quis venenatis est sed.</p>
          <%= link_to "Explore", plant_path(plant), class: 'btn card-btn' %>
        </div>
      </div>
    </div>
  <% end %>
  </div>
</div>

