<div class="container-show">
  <div class="grid-show">
    <div class="grid-item-show">
      <div class="card-show">
        <img class="card-img-show" src="https://res.cloudinary.com/nicolasenne/image/upload/v1606176917/find-your-plants/plant-1_t4zlk1.png">
        <div class="card-content-show">
          <h1 class="card-head-show">Peashooter</h1>
          <p class="card-text-show">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ante felis, dignissim in arcu id, rutrum luctus augue. Proin ultricies ante sed dolor vestibulum sollicitudin. Praesent non sem at urna commodo semper. Nunc lobortis, dui a scelerisque efficitur, nisl nisi luctus dolor, malesuada tristique lorem ligula ac lacus. Morbi imperdiet at lectus ut dapibus. Etiam blandit, risus non posuere luctus, dolor enim ultricies diam, eget ornare ante velit ut turpis. Sed ex lacus, gravida sit amet molestie id, luctus in sem. Aliquam varius, lorem malesuada hendrerit ornare, sapien purus tempus ex, quis tempor metus felis eu dui. Curabitur lectus ipsum, facilisis bibendum consequat ut, porta a turpis. Vestibulum vitae est pulvinar, efficitur enim a, luctus ex. Nam interdum velit commodo posuere congue. In scelerisque, ipsum quis aliquet condimentum, nunc magna viverra ex, a accumsan justo leo et orci. Donec at sapien nunc. Nunc accumsan aliquet lectus nec pharetra. Sed elementum fringilla dui at molestie.
            Integer at tincidunt diam. Aliquam ultricies mollis auctor. Ut vitae fringilla nulla. In ac ipsum tempus, sollicitudin nisi maximus, fringilla nunc. Curabitur vitae lacinia tellus, mattis ornare sapien. Suspendisse ut justo in lectus cursus luctus. Proin dignissim magna sed faucibus mollis. Cras viverra magna erat. Mauris venenatis efficitur magna non pellentesque. Sed tempor consequat iaculis. Sed porttitor quam tortor, eu porta velit sagittis et. Praesent sollicitudin vitae velit nec mattis.
          </p>
          <div class="badge-show">
            <span class="badge badge-pill badge-1">Awesome</span>
            <span class="badge badge-pill badge-2">Cool Plant</span>
            <span class="badge badge-pill badge-3">Nice Defender</span>
          </div>
        </div>
      </div>
    </div>

  <div class="review">
    <h3>Reviews</h3>
      <% if @plant.reviews.empty? %>
        <p>Be the first to let a review</p>
      <% else %>
        <ul class="list-group">
          <% @plant.reviews.each do |review| %>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <span class="badge badge-primary badge-pill">
                <% counter = 0 %>
                <% 5.times do %>
                  <i class="fa <%= review.rating > counter ? 'fa-star' : 'fa-star-o' %>"></i>
                  <% counter += 1 %>
                <% end %>
              </span>
              <%= review.content %>
            </li>
          <% end %>
        </ul>
      <% end %>

     <%= render "reviews/new", plant: @plant, review: @review %>

    </div>
  </div>
</div>
<%= render 'shared/footer' %>
